<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body style="font-family: Inter;background-color: #dddddd;">
  <div id="content" style="overflow: hidden;background-color: #fff;max-width: 600px;margin: 0 auto;border-radius: 16px;padding-top: 24px;">
    <div class="header" style="padding-left: 32px;padding-right: 32px;">
      <img src="./assets/logo.svg" style="display: block;float: left;">
      <h2 style="font-weight: 550;font-size: 20px;margin: 8px 12px;display: inline-block;">Organized</h2>
    </div>
    <div class="content" style="padding: 32px 0 24px 0;padding-left: 32px;padding-right: 32px;">
      <h2 style="font-weight: 550;font-size: 20px;display: inline-block;margin: 0 0 8px 0;">{{ welcomeOrgzApp }}
      </h2>
      <p style="margin: 0;">
        {{ welcomeOrgzAppDesc }}
      </p>
    </div>
    <div style="padding-left: 32px;padding-right: 32px;">
      <div class="card"
        style="padding: 10px;width: 350px;margin: 0 auto;border-radius: 16px;background: linear-gradient(140deg, #3e3cac, #6774e5);">
        <div class="card-content" style="padding: 12px;border-radius: 8px;background-color: #fff;">
          <h3 style="margin: 0;font-weight: 600;font-size: 18px;margin-top: 2px;">{{ welcomeGettingStarted }}</h3>
          <a href="#"
            style="color: white;text-decoration: none;margin-top: 8px;background: linear-gradient(140deg, #3e3cac, #6774e5);-webkit-box-shadow: 0px 2.71px 13.53px 0px rgba(83, 96, 208, 0.4);box-shadow: 0px 2.71px 13.53px 0px rgba(83, 96, 208, 0.4);display: inline-block;padding: 9px;padding-right: 16px;border-radius: 6px;font-size: 21px;font-weight: 425;letter-spacing: -0.01em;position: relative;z-index: 2;">
            <img src="./assets/info.svg" alt=""
              style="display: block;float: left;margin-right: 6px;margin-left: 2px;margin-top: 1px;">
            <span>{{ welcomeMeetOrgz }}</span>
          </a>
          <p class="big-text"
            style="margin: 0;font-size: 146px;font-weight: 600;color: #ecedf3;line-height: 177.08px;letter-spacing: -0.05em;text-align: right;height: 145px;margin-top: -45px;z-index: 1;position: relative;">
            01</p>
          <div class="logo" style="margin-top: -19.5px;">
            <img src="./assets/logo.svg" style="display: block;width: 20px;float: left;">
            <p style="display: inline-block;margin: 0;font-size: 13px;font-weight: 425;margin-left: 8px;">Organized</p>
          </div>
        </div>
      </div>
    </div>
    <a href="#" class="yt-link"
      style="color: #3e3cac;text-decoration: none;font-weight: 520;font-size: 14px;text-align: center;margin-top: 12px;display: block;padding-left: 32px;padding-right: 32px;">{{
      welcomeWatchVideo }}</a>
    <div class="links" style="padding: 24px 0;padding-left: 32px;padding-right: 32px;">
      <h3 style="margin: 0;font-weight: 600;font-size: 18px;margin-bottom: 12px;">{{ welcomeMoreInfo }}</h3>
      <div class="link" style="margin-bottom: 12px;">
        <img src="./assets/question.svg" style="display: block;float: left;margin-right: 8px;">
        <p style="margin: 0;display: inline-block;margin-top: 2px;">
          <a href="#" style="color: #3e3cac;text-decoration: none;font-weight: 520;">
            {{ welcomeUserGuideLink }}
          </a>
          {{ welcomeUserGuideText }}
        </p>
      </div>
      <div class="link" style="margin-bottom: 12px;">
        <img src="./assets/blog.svg" style="display: block;float: left;margin-right: 8px;">
        <p style="margin: 0;display: inline-block;margin-top: 2px;">
          <a href="#" style="color: #3e3cac;text-decoration: none;font-weight: 520;">
            {{ welcomeOurBlogLink }}
          </a>
          {{ welcomeOurBlogText }}
        </p>
      </div>
      <div class="link" style="margin-bottom: 12px;">
        <img src="./assets/donate.svg" style="display: block;float: left;margin-right: 8px;">
        <p style="margin: 0;display: inline-block;margin-top: 2px;">
          <a href="#" style="color: #3e3cac;text-decoration: none;font-weight: 520;">
            {{ welcomeSupportLink }}
          </a>
          {{ welcomeSupportText }}
        </p>
      </div>
    </div>
    <div class="footer"
      style="padding: 24px 32px;background-color: #f5f5f5;height: 28px;padding-left: 32px;padding-right: 32px;">
      <p style="margin-top: 5px;font-weight: 500;font-size: 16px;float: left;color: #505050;">{{ creditFooter }}</p>

      <div class="icons" style="margin-left: auto;float: right;margin-top: 2px;">
        <a href="#" style="color: unset;text-decoration: none;margin-left: 12px;float: left;">
          <img src="./assets/book.svg" style="display: block;">
        </a>
        <a href="#" style="color: unset;text-decoration: none;margin-left: 12px;float: left;">
          <img src="./assets/translate.svg" style="display: block;">
        </a>
        <a href="#" style="color: unset;text-decoration: none;margin-left: 12px;float: left;">
          <img src="./assets/earth.svg" style="display: block;">
        </a>
        <a href="#" style="color: unset;text-decoration: none;margin-left: 12px;float: left;">
          <img src="./assets/github.svg" style="display: block;">
        </a>
        <a href="#" style="color: unset;text-decoration: none;margin-left: 12px;float: left;">
          <img src="./assets/youtube.svg" style="display: block;">
        </a>
      </div>
    </div>
  </div>
</body>
</html>
